.ant-pro-layout-container {
    height:36px;
}
// .ant-layout-content{
   
//     text-align: right;
   
// }
.ant-pro-layout-container{
    background-color: chartreuse;
}
 .ant-pro-layout .ant-pro-layout-container{
    background-color: #393d49;
    height: 45px;
    
}
.ant-pro-layout .ant-pro-sider-fixed {
    background-color: #393d49;
   
}
.ant-layout, .ant-layout * {
   color: #fff;
 
}
.ant-pro-sider-collapsed-button{
    background-color: #393d49;
  
}